<!doctype html>
<html>
    <head>
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
        <title>Is it Sketch?</title>
        <link rel="stylesheet" href="css/style.css">
    </head>


    <body>

      <nav>
        <div class="nav-wrapper orange lighten-2">
          <a href="http://isitsketch.herokuapp.com" class="brand-logo center" style="font-family: 'Rock Salt', cursive;">Is it Sketch?</a>
          <ul class="left hide-on-med-and-down">
            <li><a href="http://github.com/yoursweater">Github</a></li>
            <li><a href="http://daneversen.com">Daneversen.com</a></li>
          </ul>
        </div>
      </nav>


        <div class="container">
        <img class="responsive-img" src="img/sketchcity.jpg">
            {{{body}}}
        </div>


        <script src="js/main.js"></script>
    </body>
</html>
