<!doctype html>
<html>
    <head>
    <meta name="viewport" content="width=device-width" />
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
     <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <title>Is it Sketch?</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

<body>


    <div class="main_overlay">
        <div class="main_container">
            <h1 id="mainTitle">Is it Sketch?</h1>
            <form class="location-form">
                <div class="text-input">
                  <input type="text" name="location" id="input1" placeholder="e.g., 120th and Frederick Douglass">
                  <label for="input1">Address</label>
                </div>
            </form>
            <div id="load">
              <div>G</div>
              <div>N</div>
              <div>I</div>
              <div>D</div>
              <div>A</div>
              <div>O</div>
              <div>L</div>
            </div>
        </div>


<!-- Full screen - don't touch -->
            <div class="fullscreen-bg">
                <video loop muted autoplay poster="img/sketchcity.jpg" class="fullscreen-bg_video">
                    <source src="img/nyc.mp4" type="video/mp4">
                </video>
            </div>
    </div>



<script src="js/main.js"></script>
</body>
</html>
