<p>this is the home page</p>
<<<<<<< HEAD

=======
<form class="location-form">
    <input type="text" placeholder="What address?" name="location" />
    <button type="submit">Search</button>
</form>
>>>>>>> 2a63209d6a1a90437201b379b49c2e6b0f923a56
