<div class="container">
  <div id='theBody' class="col s4 offset-s4">
    <p id="instructions">Enter a zip code or exact address to find out:</p>
      <div id="theForm" class="col s2 offset-s5">
        <form class="location-form">
            <input type="text" placeholder="What address?" name="location" />
            <button class="waves-effect waves-light btn" type="submit">Search</button>
        </form>
      </div>

    <div id="results">
    </div>
  </div>
</div>
