<div class="container">
  <div id='theBody' class="col m4 s12 offset-m4">
    <p id="instructions">Enter a New York City cross street or exact address</p>
      <div id="theForm" class="col m2 s12 offset-m5">
        <form class="location-form">
            <input type="text" placeholder="What address?" name="location" />
            <button id="theButton" class="waves-effect waves-light btn orange lighten-2" type="submit">Search</button>
        </form>
      </div>

    <div id="sketchZone">
    </div>
    <div id="results">
    </div>
    <div id="details">
    </div>
  </div>
</div>
