.main_overlay {
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,.3),
    rgba(0,0,0,.7)
    );
  height: 100vh;
}

#mainTitle{
  position: relative;
  z-index: 4;
  text-align: center;
  color: white;
  margin:0 auto;
  padding-top: 16vh;
  font-family: Indie Flower, cursive;
  font-size: 20vmin;
}

.text-input {
  position: relative;
  margin: 22vh auto;
  width: 400px;
  right: 50px;
}
.text-input input[type="text"] {
  display: inline-block;
  width: 500px;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid aqua;
  border-radius: 3px;
  padding: 10px 10px 10px 110px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.text-input input[type="text"] + label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  color: white;
  border-radius: 3px 0 0 3px;
  padding: 0 20px;
  background: #E03616;
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.text-input input[type="text"]:focus + label {
  -webkit-transform: translateY(-120%) translateX(0%);
          transform: translateY(-120%) translateX(0%);
  border-radius: 3px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.text-input input[type="text"]:focus {
  padding: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#input1 {
  color: white;
  /* border-bottom: 1px solid lightgray; */
}


  /* FULLSCREEN BG */


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('img/sketchcity.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
  }

/* INSTRUCTIONS */

#instructions {
  font-style: italic;
  text-align: center;
  letter-spacing: 0.2em;
  color: white;
  opacity: 1;
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  font-size: 2vmin;
}


/* LOADING SCREEN */


#load {
  opacity: 0;
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
  font-size: 4vmin;
  transition: all 2s ease;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#35C4F0;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left: 41%;
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%;
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%;
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-moz-keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left:41%;
    -moz-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%;
    -moz-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%;
    -moz-transform:rotate(-180deg);
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-webkit-keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left:41%;
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%;
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%;
    -webkit-transform:rotate(-180deg);
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-o-keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left:41%;
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%;
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%;
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
    opacity:0;
  }
}


.displayMode {
  opacity: 1 !important;
}


/* RESULTS */

#result-level {
  color: white;
  text-align: center;
}

.redText {
  color: red;
  font-family: 'Finger Paint', cursive;
}

#indicator {
  width: 600px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
#indicator #bar {
  width: 100%;
  height: 18px;
  border-radius: 15px;
  box-shadow: 0 0 0 4px white;
  background: linear-gradient(to right, #5398F5, red);
}
#indicator #dial {
  width: 18px;
  height: 30px;
  margin-top: -2px;
  box-shadow: 0 0 0 4px white, 0 0 6px 6px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  position: absolute;
  top: -4px;
  left: 50px;
  transition: 0.1s;
}

.sketchlevel1 {
  left: 5% !important;
}
.sketchlevel2 {
  left: 25%!important;
}
.sketchlevel3 {
  left: 50% !important;
}
.sketchlevel4 {
  left: 75% !important;
}

.sketchlevel5 {
  left: 95% !important;
}

#tryAgain {
    transform: translate3d(-50%, 100%, 0);
    left: 50%;
    z-index: 1000;
}

#explanation {
    position: relative;
    top: 70px;
    color: white;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#topFive {
     position: relative;
    text-align: center;
    color: white;
    width: 100%;
    top: 100px;
}

#newResults {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
}

#topList {
  position: relative;
  top: 100px;
  width: 100%;
  text-align: center;
}

#rankText {
  color: red;
  font-family: 'Finger Paint', cursive;
  font-size: 1.5em;
}

#feedback {
  color: white;
  text-align: center;
}

/* MOBILE OPTIMIZATION */

@media all and (max-width: 750px) {
    #instructions {
      width: 100%;
      left: 0;
      margin-left: 0px;
      font-size: 1em;
    }
    #load{
      display: none;
    }
    #input1 {
      width: 100%;
    }
    .text-input {
      right: 0;
      margin: 0;
      margin-top: 40vh;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
}
