#mainTitle{
  text-align: center;
  color: green;
}

#theBody{
  text-align: center;
}

#disclaimer{
  font-weight: 200;
}

#sketchypic{
  padding-top: 20px;
}

p{
  font-size: 150%;
}

#example{
  font-size: 100%;
}

@media only screen and (max-width: 800px){
  p{
    font-size: 150%;
  }
  .collapsible-header{
    font-size: 150%;
  }
   #theButton{
    width: 40vw;
    height: 8vh;
    font-size: 150%;
  }
  input{
    font-size: 200%;
  }
}

