html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#theDisplay {
  height: 100%;
  width: 100%;
  background-image: url('../img/sketchcity.jpg');
  background-size: cover;
  background-position: center;
  z-index: 10;
  margin: 0 auto;
}

.tint {
  z-index: 2;
  position: relative;
  float: left;
}

.tint:before {
  content: "";
  background: rgba(0,0,0,0.3);
  z-index: 3;
  position: absolute;
  top: 0;
  bottom:  0;
  left: 0;
  right: 0;
  z-index: 3;
}

#mainTitle{
  position: relative;
  z-index: 4;
  text-align: center;
  color: white;
  margin:0 auto;
  padding-top: 4vh;
  font-family: Indie Flower, cursive;
  font-size: 20vmin;
}




/* OLD CSS */

#theBody{
  text-align: center;
}

.container {
  display:  none;
}

#disclaimer{
  font-weight: 200;
}

#sketchypic{
  padding-top: 20px;
}

p{
  font-size: 150%;
}

#example{
  font-size: 100%;
}

@media only screen and (max-width: 800px){
  p{
    font-size: 150%;
  }
  .collapsible-header{
    font-size: 150%;
  }
   #theButton{
    width: 40vw;
    height: 8vh;
    font-size: 150%;
  }
  input{
    font-size: 200%;
  }
}

